/dist/
/build/
/roms/
/src/fpga/db/
/src/fpga/incremental_db/
/src/fpga/output_files/
/src/fpga/*.qws
/src/fpga/c5_pin_model_dump.txt
*.log
*.bak
__pycache__/
*.pyc
*.rom
*.bin
*.cdi
*.sav
*.sof
*.jdi
*.smsg
*.ver
